@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    background-color: #101010;
    color: black;
}

body::-webkit-scrollbar{
    display: none;
}

.logo {
    height: 9vw;
}

a {
    color: black;
    text-decoration: none;
}

section {
    background-color: aliceblue;
}

#currpos {
    margin: 0%;
    width: 80vw;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#curr {
    width: 65vw;
    padding-left: 1vw;
    font-family: 'Noto Serif', serif;
    font-weight: 600;
}

#details {
    margin-top: 7vh;
    padding-top: 10vh;
    width: 80vw;
    font-family: 'Noto Serif', serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.dcontent {
    display: flex;
    justify-content: space-between;
    width: 54vw;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.contentblock {
    display: inline-block;
    width: 27vw;
}

.content {
    display: flex;
}

.chead {
    display: inline-block;
    width: 6vw;
}

.cdiv {
    display: inline-block;
    width: 1vw;
}

#study {
    padding-top: 0vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
}

.table-wrapper {
    width: 65vw;
}

.table-wrapper table {
    width: 100%;
    margin: 2vh 0 1vh;
    border-collapse: collapse;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 0.5vh;
}

.table-wrapper table th,
.table-wrapper table td {
    padding: 1vh;
}

#study_table th {
    background-color: rgba(0, 123, 255, 0.15);
    font-weight: 700;
}

.details {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
}

div.heading {
    background-color: rgba(0, 123, 255, 0.15);
    font-weight: 700;
    margin: 0.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 65vw;
    text-align: center;
}

.details table {
    margin: 0%;
}

.details .table-wrapper table thead tr th {
    font-weight: 400;
    background-color: rgba(0, 123, 255, 0.15);
    padding: 0%;
    width: 13vw;
    padding: 0.5vw;
}

.table-wrapper table thead tr th div:first-child {
    font-weight: 700;
}

.table-wrapper table thead tr th div:last-child {
    font-size: 0.85em;
}

.table-wrapper table thead tr td {
    text-align: justify;
    padding-right: 1vw;
}

#hobby {
    margin-bottom: 7vh;
    padding-bottom: 10vh;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#block{
    display: none;
}

@media (min-width:1024px) and (max-width:1440px){
    body{
        font-size: 0.8em;
    }

    .dcontent{
        margin-left: 0.8vw;
        margin-right: 0.8vw;
    }

    .details .table-wrapper table thead tr th {
        width: 14vw;
    }

    .table-wrapper table thead tr th div:last-child {
        font-size: 0.75em;
    }
}

@media (min-width:768px) and (max-width:1024px){
    body{
        font-size: 0.7em;
    }

    .dcontent{
        margin-left: 0.8vw;
        margin-right: 0.8vw;
    }

    .details .table-wrapper table thead tr th {
        width: 14vw;
    }

    .table-wrapper table thead tr th div:last-child {
        font-size: 0.7em;
    }
}

@media (max-width:768px){
    #block{
        position: fixed;
        background-color: aliceblue;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #block div{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: large;
        padding: 10px;
    }
}
